body{
  background: url("https://s-media-cache-ak0.pinimg.com/564x/a5/4b/2e/a54b2e10bdc0c85edb141359858a16a1.jpg") 0 0 no-repeat fixed;
  background-size: 20%;
  background-position: right bottom;
  background-color:rgba(0, 0, 0, 0.5);
}

.posts{
  border-bottom: 1px black solid;
  height: 100px;
}

.posts_content{
  padding-top: 5px;
  padding-left: 5%;
}

.posts h3{
  margin-left: 5%;
  margin-top: 0px !important;
}

.posts a{
  color: #5C73A7;
}

.posts a:hover, .postdisplay a:hover{
  text-decoration: none;
  font-color: #FFF;
}

.postdisplay{
  background: #C6C3C3;
  padding-top: 10px;
  padding-left: 20px;
}

.postdisplay p{
  font-size: 20px;
}


.btn-secondary:hover{
  background-color: #756C6C !important;
}
