{% extends "base.html" %}

{% block title %}Front Page{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}

  <!-- Printing top 50 posts -->
  {% if posts is not none and front%}
    {% for post in posts %}
      <div class="row">
        <div class="col-md-1">
          <h2>{{ post.num_likes }}</h2>
        </div>
        <div class="col-md-11">
          <h2><a href="/posts/{{post.id}}" style="font-size: 30px;">
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
              {{ post.title }} </a></h2>
          <h3 style="font-size: 15px;">Submitted by 
            <a href="/users/{{post.author}}">{{ post.author }}</a>  
            to 
            <a href="/tags/{{ TagDB.query.filter_by(id=PostTagDB.query.filter_by(post_id=post.id).first().tag_id).first().name }}">/tags/{{ TagDB.query.filter_by(id=PostTagDB.query.filter_by(post_id=post.id).first().tag_id).first().name }}</a> 
          </h3>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h2>There are currently no posts! Please <a href="{{ url_for('write') }}">Submit a post</a><h2>
  {% endif %}

{% endblock %}
  
