{% extends "base.html" %}
{% block title %}{{ post.title }}
    <h3 style="font-size: 13px; padding-left: 30px;">Submitted by <a href="/users/{{post.author }}" style="color: #FFF !important;">{{ post.author }}</a></h3>
{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

  <div class="row" >

    <div class="col-md-1">
    {% if current_user.is_authenticated %}
      <br><br>
      <form action="{{ url_for('post', post_id=post.id) }}"method="post">
        <button class="" style="background-color: Transparent; border: none;"  name="selection" type="submit" value="post_like">
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </button>
    {% endif %}
    {% if current_user.is_authenticated %}
        <h3 style="text-align: center; margin: 0 0 0 0;">{{ post.num_likes }}</h3>

        <button class="" style="background-color: Transparent; border: none;" name="selection" type="submit" value="post_dislike">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </button>
      </form>
      <br>
    {% endif %}
    </div>
    <div class="col-md-11">
      <p> {{ post.content }} </p>
    </div>
  </div>

  <div class="postcomment">
    {% if current_user.is_authenticated %}
      <br><br>
      <h2>Submit a Comment:</h2>
      <form action="{{ url_for('post', post_id=post.id) }}" name="write" method="POST">
        <textarea name="content" class="form-control" placeholder="Content" type="text"></textarea>
        <br>
      <button class="btn btn-secondary" type="submit">Submit Comment</button>
    </form>
    <br>
  {% else %}
  <h2><a href="{{ url_for('register') }}">Login or Signup to Comment</a></h2>
  {% endif %}
  <br><br><br>

    {% for comment in comments %}
      <div class="row">
        <div class="col-md-1">
        {% if current_user.is_authenticated %}
          <form action="{{ url_for('post', post_id=post.id) }}" method="post">
            <button class="" style="background-color: Transparent; border: none;"name="selection" type="submit" value="comment_like_{{ comment.id}}">
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            </button>
        {% endif %}
          <h3 style="text-align: center; margin: 0 0 0 0;">{{ comment.num_likes }} </h3>

        {% if current_user.is_authenticated %}
            <button class="" style="background-color: Transparent; border: none;" name="selection" type="submit" value="comment_dislike_{{ comment.id}}">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
          </form>
        {% endif %}
        </div>
        <div class="col-md-11">
          <h3>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            {{comment.content}}</h3>
          <p class="post-meta">Submitted by 
            <a href="users/{{ url_for('profile', username=comment.author) }}">{{comment.author}}</a>
          </p>
          <br><br>
        </div>
      </div>
    {% endfor %}

  </div>

{% endblock %}

