{% extends "header.html" %}
{% block content %}

  <h1>{{ post.title }}</h1>
  <h3> {{ post.author }}</h3>
  <p> {{ post.content }} </p>

  {% if current_user.is_authenticated %}
    <br><br>
    <form action="{{ url_for('post', post_id=post.id) }}"method="post">
      <button name="selection" type="submit" value="post_like_{{ comment.id }}">Like</button>
      <button name="selection" type="submit" value="post_dislike_{{ comment.id }}">Dislike</button>
    </form>
    <br>
  {% else %}
    <h2>Hi :D</h2>
    <a href="{{ url_for('register') }}">Login or Signup to like</a>
  {% endif %}

  <h2>Comments:</h2>
  {% for comment in comments %}
    <h3>{{comment.author}}</h3>
    <p>{{comment.content}}</p>
    <form action="{{ url_for('post', post_id=post.id) }}" method="post">
      <button name="selection" type="submit" value="comment_like_{{ comment.id}}">Like</button>
      <button name="selection" type="submit" value="comment_dislike_{{ comment.id}}">Dislike</button>
    </form>
  {% endfor %}

  {% if current_user.is_authenticated %}
    <br><br>
    <h2>Submit a Comment:</h2>
    <form action="{{ url_for('post', post_id=post.id) }}" name="write" method="POST">
      Content<input name="content" placeholder="" type="text">
      <br>
      <button type="submit">Submit Comment</button>
    </form>
    <br>
  {% else %}
    <a href="{{ url_for('register') }}">Login or Signup to Comment</a>
  {% endif %}

  {% endblock %}
