{% extends "header.html" %}
{% block content %}

   <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>Darkly</h1>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
      </div>
    </div>

  {% if current_user.is_authenticated %}
    <form  method="post">
        <button class="btn btn-info-outline" name="selection" type="submit" value="posts">Posts</button>
        <button class="btn btn-info-outline" name="selection" type="submit" value="comments">Comments</button>
        <button class="btn btn-info-outline" name="selection" type="submit" value="likes">Likes</button>
      </form>
    <br>

    <!-- if Post -->
    {% for post in posts %}
      {% if post.title %}
        <h1><a href="/posts/{{post.id}}"><br>{{post.title}}</a></h1>
        <p>{{post.content}}</p>
      {% endif %}
    {% endfor %}

    {% if comments %}
      <!-- if comment -->
      {% for comment in comments %}
        <h1>comments</h1>
        <a href="/posts/{{ comment.post_id }}">
          {% for post in posts %}
            {{ post.id }}
            {% if post.id == comment.post_id %}
            <h2>{{ post.title }}</h2>
            {% endif %}
          {% endfor %}
        </a>
        <p>{{ comment.content }}</p>
      {% endfor %}
        
        <!-- if like -->
        
    {% endif %}




  {% else %}
    <h2>Hi :D</h2>
    <a href="{{ url_for('register') }}">Login or Signup</a>
  {% endif %}

{% endblock %}
