{% extends "base.html" %}

{% block title %}{{user}}{% endblock %}
{% block content %}

  {% if current_user.is_authenticated %}
    <form  method="post">
        <button class="btn btn-info-outline" name="selection" type="submit" value="posts">Posts</button>
        <button class="btn btn-info-outline" name="selection" type="submit" value="comments">Comments</button>
        <button class="btn btn-info-outline" name="selection" type="submit" value="likes">Liked</button>
      </form>
    <br>

    <!-- if Post -->
    {% if posts%}
      {% for post in posts %}
        <div class="row">
          <div class="col-md-1">
            <h2>{{ post.num_likes }}</h2>
          </div>
          <div class="col-md-11">
            <h2><a href="/posts/{{post.id}}">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                {{post.title}}</a>
            </h2>
            <p>{{post.content}}</p>
          </div>
        </div>
      {% endfor %}
    {% endif %}

    {% if comments %}
      <!-- if comment -->
      {% for comment in comments %}
        <div class="row">
          <div class="col-md-1">
            <h2>{{ comment.num_likes }}</h2>
          </div>
          <div class="col-md-11">
            <h2>
              <a href="/posts/{{ PostDB.query.filter_by(id=comment.post_id).first().id }}">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                {{ PostDB.query.filter_by(id=comment.post_id).first().title }}
              </a>
            </h2>
            <p>{{ comment.content }}</p>
          </div>
        </div>
      {% endfor %}
    {% else %}
        <!-- if like -->
        {% for post in post_like %}
          <div class="row">
            <div class="col-md-1">
              <h2>{{ post[0].num_likes }}</h2>
            </div>
            <div class="col-md-11">
              <h2><a href="/posts/{{ post[0].id }}">
                  <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                  {{ post[0].title}}
                </a>
              </h2>
              <h3 style="font-size: 15px;">Submitted by 
                <a href="/users/{{ post[0].author }}">{{ post[0].author }}</a>
              </h3>
            </div>
          </div>
        {% endfor %}
    {% endif %}

  {% else %}
    <h2>Hi :D</h2>
    <a href="{{ url_for('register') }}">Login or Signup</a>
  {% endif %}

{% endblock %}
