<html>

<head>
  <title>Reddit</title>
</head>

<body>

  <h1>Login or Signup</h1>

  {% if current_user.is_authenticated %}
    <h2>Hi {{current_user.username}}!:D </h2>
  {% endif %}

  <form action="{{ url_for('register') }}" name="register" method="POST">
    Email<input name="email" placeholder="" type="text">
    <br>
    Username<input name="username" placeholder="" type="text">
    <br>
    Password<input name="password" placeholder="" type="text">
    <br>
    <input checked name="login_or_signup" type="radio" value="login">Login
    <input name="login_or_signup" type="radio" value="signup">Signup
    <button type="submit">Submit</button>
  </form>
  <br>
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Log Out</a>
  {% endif %}


</body>

</html>
