{% extends "base.html" %}
{% block title %} /tags/{{ tag }} {% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {% for post in posts %}
  <div class="row">
    <div class="col-md-1">
      <h2>{{ post.num_likes }}</h2>
    </div>
    <div class="col-md-11">
      <h2> 
        <a href="/posts/{{post.id}}" style="font-size: 30px;">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          {{ post.title }}
        </a>
      </h2>
      <h3 style="font-size: 15px;">Submitted by
        <a href="/users/{{post.author}}">{{ post.author }}</a>
      </h3>
    </div>
  </div>
  {% endfor %}

{% endblock %}
