{% extends "header.html" %}
{% block content %}
  {% if current_user.is_authenticated %}
    <br><br>
    <h2>Submit a post:</h2>
    <form action = "{{ url_for('write') }}" name="write" method="POST">
      Tag<input name="tag" placeholder="" type="text">
      <br>
      Title<input name="title" placeholder="" type="text">
      <br>
      Content<input name="content" placeholder="" type="text">
      <br>
      <button type="submit">Submit Post</button>
    </form>
    <br>
  {% else %}


    <h2>Hi :D</h2>
    <a href="{{ url_for('register') }}">Login or Signup</a>
  {% endif %}

  {% endblock %}
