{% extends "base.html" %}

{% block title%}Submit a Post {% endblock %}

{% block content %}

  {% if error %}
    <h3>{{ error }}</h3>
  {% endif %}

  {% if current_user.is_authenticated %}
    <form action = "{{ url_for('write') }}" name="write" method="POST">
      <div class="form-group">
        <label for="usr">Tag:</label>
        <input name="tag" type="text" class="form-control" placeholder="Tag">
      </div>
      <br>
      <div class="form-group">
        <label for="usr">Title:</label>
      <input name="title" class="form-control" placeholder="Title" type="text">
      </div>
      <br>
      <div class="form-group">
        <label for="usr">Content:</label>
        <textarea name="content" class="form-control" row="10" placeholder="Content" type="text"></textarea>
      </div>
        <br>
      <button type="submit" class="btn btn-secondary" >Submit Post</button>
    </form>
    <br>
  {% else %}


    <h2>Hi :D</h2>
    <a href="{{ url_for('register') }}">Login or Signup</a>
  {% endif %}

{% endblock %}
